include ../components/ui
include ../components/admin_doc
include components/calendar_raw


+admin_doc(["admin/panel/admin.css"], ["admin/panel/lib/moment.js", "ui/ui.js","admin/panel/calendar/calendar.js"], host)
    .settings
        +btn-link('добавить', 'info-inv', host + "/admin/calendar/addCalendar")
        .settings__item.sort
            h3.settings__title Сортировать:
            - let sortContent = {};
            - sortContent.keys = ["date", "title"];
            - sortContent.values  = ["По дате", "По заголовку"];
            +select(sortContent.keys, sortContent.values,"sort")(class= "settings__select sort")
    .orders-grid
        for calendar in allCalendar
            +calendar_raw(calendar, host)

