include ui

mixin admin_doc(css, js, host)
    doctype html
    html(lang="ru")
        head
            meta(charset='UTF-8')
            meta(name="viewport" content="width=device-width, initial-scale=1.0")
            for file in css
                link(rel="stylesheet", href= host + "/" + file)
            link(rel="icon" href= host + "/icons/favicon.ico")
            title Админочка
        body
            .navbar
                +btn-link('Новости', 'info-inv', host + "/admin/news")
                +btn-link('Состав', 'info-inv', host + "/admin/composition")
                +btn-link('События', 'info-inv', host + "/admin/calendar")
            .view
                block

            script 
                | const host = "#{host}";
            for file in js
                script(src= host + "/" +file)